.add-ticket-form-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33658a;
  border-radius: 3px;
}

.add-new-ticket-title {
  color: #2f4858;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  color: #f26419;
}

.ticket-lbl-text {
  color: #f6ae2d;
  margin-bottom: 0;
  font-weight: 700;
}

.ticket-input {
  margin-bottom: 15px;
}

.text-area {
  resize: none;
}
